body {
    background-color: #f3f2ef;
    margin: 0;
}

.container {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 100px;
    height: 100vh;
}

div.container > div.inner-container {
    margin-left: 12vw;
    margin-right: 12vw;
    display: grid;
    grid-template-columns: auto min-content;
}

.right-div-divide {
    display: grid;
    grid-template-columns: 14vw 25vw;
    grid-column-gap: 10px;
}  

.skill-grid {
    display: grid;
    grid-template-columns: 13.1vw 13.1vw;
}

.footer-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    padding: 30px 0 70px 0;
    grid-column-gap: 20vw;
    margin-left: 12vw;
    margin-right: 12vw;
    justify-content: center;
}

.social-accounts {
    display: grid;
    grid-template-columns: min-content min-content min-content;
}

.project-grid {
    margin: 3vh 12vw 0 12vw;
    display: grid;
    grid-template-columns: auto auto;
}

div.container > div.form {
    margin-left: 12vw;
    margin-right: 12vw;
    display: grid;
    grid-template-columns: auto min-content;
    margin-bottom: 40vh;
}

.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.massage-grid {
    display: grid;
    grid-template-columns: 310px auto;
}

.submit-adjust {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mail-sent-container {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.main-container {
    margin-left: 15vw;
    margin-right: 14vw;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 30px;
}

.main-con-inner {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}